.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 90%;
    margin: auto;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.list-group-item:hover {
    color: #105ed2;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
}

#myOrdersTable table {
    text-align: left;
    position: relative;
}

#myOrdersTable tr:nth-child(2) th,
#orderBook tr:nth-child(-n + 3) th {
    background: white;
    position: sticky;
    top: 0;
}

#myOrdersTable {
    max-height: 500px;
}

#orderBook {
    max-height: 750px;
    width: 100%;
}

#orderBook table {
    width: 50%;
    float: left;
}

#orderBook #buy tr {
    background: #ddffe6;
}

#orderBook #sell tr {
    background: #ffe6e6;
}

@media only screen and (min-width: 1075px) {
    #stockGraph {
        width: 50%;
        float: left;
    }

    #myOrdersTable {
        max-height: 200px;
    }

    #myOrders {
        width: 50%;
        float: right;
    }
}
